.good{
    padding: 10px;
}
.good .goodimg{
    height: 70px;
    width: 70px;
    margin: 10px;
   
}

.good .goodtitle{
    padding: 10px;
    position: absolute;
    left: 120px;
}
.good .del{
   
    right: 80px;
    color:rgb(105, 105, 105);
    margin: 70px 0 0 0;
    position: absolute;
    /* left: 120px; */
}
.good .goodprice{
    position: absolute;
    right: 20px;
    margin: 70px 0 0 0;
    /* bottom: 0px; */

}
.selectall{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.selectall .price{
    margin:0 0 0 150px;
}
.selectall button{
    position: absolute;
    right: 20px;
}